$color-black: #000;
$color-gray-1: #6a7889;
$color-gray-2: #dcdfe3;
$color-gray-3: #f6f7f8;
$color-gray-4: #676e77;
$color-white: #fff;
$color-blue: #00bab3;

// main layout elements:
$color-bg-body: $color-gray-2;
$color-bg-container: $color-gray-2;

// top bar color:
$color-top-bar: $color-blue;

// menu colors:
$color-menu-hover: $color-gray-2;

// button colors;
$color-button-add: $color-blue;

// label color:
$color-label: $color-gray-4
