$color-black: #000;
$color-gray-1: #6a7889;
$color-gray-2: #dcdfe3;
$color-white: #fff;
$color-blue: #00bab3;

// main layout elements:
$color-bg-body: $color-gray-2;

// top bar color:
$color-top-bar: $color-blue;