@import "../../styles/mixins";
@import "src/styles/base/colors";
@import "src/styles/base/shadows";

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 20px;
  position: relative;
}

.questions {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}

.filter-wrapper {
  align-items: center;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: $box-shadow-base;
  margin-top: 50px;
  max-width: 1920px;
  min-width: 230px;
  padding: 20px;
  text-align: center;
  width: 90%;

  button {
    border-radius: 7px;
    border: 1px solid grey;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
  }

  @include tablet-s {
    margin: 15px;
    width: 90vw;
  }
  @include mobile {
    margin: 15px;
    width: 100vw;
  }
}
