@import "src/styles/base/shadows";
@import "src/styles/base/colors";
@import "../../styles/mixins";

.search-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;

  @include tablet-s {
    margin: 15px;
  }
  @include mobile {
    margin: 15px;
  }

  &__input {
    border-radius: 10px;
    border: 2px solid darkgray;
    font-size: 20px;
    height: 50px;
    padding: 5px 10px;
    width: 50vw;

    @include tablet-s {
      min-width: 230px;
      width: 90vw;
    }
    @include mobile {
      min-width: 230px;
      width: 100vw;
    }
  }
}
