@import "../../styles/mixins";

.image {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  img {
    max-width: 1920px;
    min-width: 230px;
    width: 70%;

    @include tablet-s {
      width: 90vw;
    }
    @include mobile {
      width: 100vw;
    }
  }
}

.img-delete {
  background-color: transparent;
  background-image: url("../../assets/delete_icon.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 5px;
  position: absolute;
  width: 30px;
  background-size: 100%;
}
