@import "../../styles/mixins";
@import "src/styles/base/colors";
@import "src/styles/base/shadows";

.filter-wrapper {
  align-items: center;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: $box-shadow-base;
  margin-top: 50px;
  max-width: 1920px;
  min-width: 230px;
  padding: 20px;
  text-align: center;
  width: 90%;

  @include tablet-s {
    margin: 15px;
    width: 90vw;
  }
  @include mobile {
    margin: 15px;
    width: 100vw;
  }

  &__button {
    margin-top: 20px;
  }
}
